<launch>
    <param name="use_sim_time" value="true" />
    <!--- Param file-->
    <param name="parameter_file" type="string" value="$(find image_and_descriptor)/config/params.yaml" />

    <!--- Node-->
    <node pkg="image_and_descriptor"  
          type="image_and_descriptor_node"
          name="image_and_descriptor"
          output="screen" />

    <!--- Run Rviz-->
    <node pkg="rviz" 
          type="rviz" 
          name="image_and_descriptor_rviz" 
          args="-d $(find image_and_descriptor)/launch/rviz.rviz" />

    <!-- Play Rosbag -->
    <!--arg name="bag_path" default="/home/fierz/Downloads/catkin_tools/ros_catkin_ws/src/imaging_lidar_place_recognition/launch/handheld_registered.bag"/>

    <node pkg="rosbag" type="play" name="player" output="screen" 
        args="$(arg bag_path)"/-->
</launch>